body{
/*    background:#D8DBDE url(/images/page_bg.png);*/
/*    behavior:url(/css/PIE.htc);*/
margin-left: 0 ;
}
*{font-family:tahoma;font-size:12px;margin:0;padding:0;text-align:left;color:#545454}

a{color:#1F7ECD}

h1{font-size:26px;text-align:center;margin:0 auto}
input, select{border:1px solid #7F9DB9;padding:2px;outline:none}
input[name=check_button]{margin-left: 20px;}
#job-detailview td {font-size: 14px;}
/*�����������*/
.auth{margin:30px 5px}
.auth  h1, .auth  h2{text-align:center;width:460px}
.auth  h2{margin:10px auto;font-size:14px;color:#9F9F9F}
.auth form{width:420px;background:#FFF;margin:25px auto;padding:10px 20px;border:1px solid #BFC2C5;border-radius:6px;-moz-border-radius:6px;-webkit-border-radius:6px;/*PIE - ���� � IE7-8*//*behavior:url(/css/PIE.htc)*/}
.auth form label{display:block;padding:5px 0}
.auth form label input{display:block;margin:5px 0;width:266px;line-height:20px;font-size:16px}

.search-button{
    text-decoration: underline;
}

.button{border:1px solid #ABABAB;color:#707070;font-weight:bold;margin-top:10px;padding:7px 15px;width:70px;text-align:center;background:#ECECEC;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px}
.button /*���������*/
{
 background: -moz-linear-gradient(top, #F8F8F8, #D8D8D8);/*FireFox*/
 background: -webkit-gradient(linear, left top, left bottom, from(#F8F8F8), to(#D8D8D8));/*Webkit*/
 background:-o-linear-gradient(top, #F8F8F8, #D8D8D8);/*for Opera 11+*/
 /*filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#F8F8F8, endColorstr=#D8D8D8);/*for IE 6-7*/
 /*-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#F8F8F8, endColorstr=#D8D8D8)";/*for IE 8+*/

 /*���� ����� PIE, �� ������� ���������� 2 ������, ��� ����� ������, ����� ������� ��������� ������*/
 behavior:url(/css/PIE.htc);-pie-background:linear-gradient(top, #F8F8F8, #D8D8D8);display:inline;zoom:1;position:relative
}

.page{width:100%;margin:10px auto;height:100%}
.header{position:relative;text-align:center;height:40px;line-height:40px;background:#3C6286;border-bottom:4px solid #E5E5E5}
/*.header
{
 background: -moz-linear-gradient(top, #3C6286, #264665);FireFox
 background: -webkit-gradient(linear, left top, left bottom, from(#3C6286), to(#264665));Webkit
 background:-o-linear-gradient(top, #3C6286, #264665);for Opera 11+
 filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#3C6286, endColorstr=#264665);for IE 6-7
 -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0, startColorstr=#3C6286, endColorstr=#264665)";for IE 8+
}*/

.header ul{position:relative;display:inline-block;zoom:1;display:inline;list-style:none}
.header ul li{display:inline-block;zoom:1;display:inline;position:relative}
.header ul li a{color:#FFF;font-weight:bold;text-decoration:none;font-size:14px;margin:0 30px}
.header ul li a:hover{text-decoration:underline}
.cetral_part{
    float:left;
    min-height:100%;
    height:auto !important;
    height:100%;
    background:#FFF;
/*    padding:20px*/
}

.content{
    float:left;
    width:930px;
    padding:10px;
    padding-left: 15px;
/*    border: 1px solid green;*/
}
.content *{color:black}
.content h3{text-align:center;font-size:16px}

form{padding:0 30px 10px 30px}
form caption{font-size:20px;font-weight:bold;margin-bottom:10px}
form select{width:225px}
form td{padding:5px 0}

/*form.clients label span{font-weight:bold}
form.clients button{position:absolute;left:400px;top:50%;border:none;background:transparent;cursor:pointer;color:#2A81CB;font-weight:bold;font-size:16px}
div.form form table{width:100%}*/
/*div.form form input{margin:5px 0;display:block;border:3px double #E4E4E4;width:260px}*/
/*div.form form td.set{color:red}
div.form form td span{font-size:10px}
div.form form td.code1{width:60px;text-align:center}
div.form form td.code1 input{text-align:center;margin:5px auto;width:40px}
div.form form td.code2{width:70px;text-align:center}
div.form form td.code2 input{margin:5px auto;width:50px}
div.form form td.number{width:120px;text-align:center}
div.form form td.number input{margin:5px auto;width:100px}
div.form form td.nickname input{display:inline-block}
div.form form td.center{text-align:center;padding:20px 0}*/

form button.send{color:#FFF;text-transform:uppercase;font-weight:bold;background:#96F000 url(/images/send_button.png) 0 0 no-repeat;width:110px;height:24px;border:none;padding-left:7px;cursor:pointer}

.clients_table{margin:20px 0}
.clients_table th, .clients_table td{text-align:left;padding:5px}
.clients_table td.status{width:100px}
.clients_table td.status.ok{font-weight:bold;color:#008000}
.clients_table td.status.new{font-weight:bold}
.clients_table td.status.no{font-weight:bold;color:red}
.clients_table td.date{text-align:center;width:140px}
.clients_table td.files_size{text-align:right;width:100px}
.clients_table td.files_size.null{font-weight:bold;color:red}

/*���������� � �������*/
.client_info{padding:30px 30px 30px 100px}
.client_info h3{text-align:left;padding-bottom:20px}
.client_info p{padding:10px 0}
.client_info table th{height:8px;border-top:1px solid #CDCDCD;background:url(/images/th_bg.png) 0 1px repeat-x}
.client_info table caption{font-weight:bold;font-size:16px;padding:40px 0 20px 0}
.client_info table td{border-bottom:1px #49709F dotted;padding:4px 2px}
.client_info table td.size{text-align:right}
.client_info table  a{color:#49709F;text-decoration:none}
.client_info table  a:hover{text-decoration:underline}

/*����� �������� ��������*/
.upload_conract {margin:20px 0;padding:0}
.upload_conract fieldset{border:1px solid #FFF}
.upload_conract legend{font-weight:bold;font-size:16px;padding-bottom:10px}
.upload_conract label{display:block;margin:10px 0}
.upload_conract label span{display:inline-block;width:200px}
.upload_conract .statuses{padding:20px 20px 30px 20px}
.upload_conract h4{padding:10px 0;font-size:16px}
.upload_conract .send{margin-left:100px}

/*������ �������*/
.pages span.txt{background:transparent}
.pages span{margin:0 5px;display:inline-block;background:#D8D8D8;height:15px;min-width:15px;line-height:15px;padding:5px;text-align:center}
.pages a{margin:0 5px;display:inline-block;background:#6F6F6F;color:#FFF;height:15px;min-width:15px;line-height:15px;padding:5px;text-align:center;text-decoration:none}
.pages a:hover{color:red;background:#D8D8D8}
.pages a.next{margin:0;background:none;width:auto;color:#2A81CB;text-decoration:underline}
.pages a.next:hover{color:red;background:none;text-decoration:none}

.menu{float:left;width:280px;padding:0px;position: relative; }
.menu p{font-weight:bold;font-size:20px}
.menu ul{list-style:none}
.menu ul li{padding-left:20px;color:#2A81CB;line-height:20px}
.menu ul a{text-decoration:none;font-size:13px}
.menu ul a:hover{text-decoration:underline;color:red}
.menu ul a span{color:red;font-weight:bold}
.menu ul li ul li{padding:0}

.menu ul li.profile{margin-top:10px;background:url(/images/profile.png) 0 2px no-repeat}
.menu ul li.list{margin-top:10px;background:url(/images/image.png) 0 2px no-repeat}
.menu ul li.add{margin-top:10px;background:url(/images/blank.png) 2px 2px no-repeat}
.menu ul li.add a{font-weight:bold;color:red}
.menu ul li.admins{margin-top:10px;background:url(/images/text.png) 2px 2px no-repeat}
.menu ul li.companies{margin-top:10px;background:url(/images/audio.png) 0 2px no-repeat}
.menu ul li.countries{margin-top:10px;background:url(/images/blank.png) 3px 2px no-repeat}
.menu ul li.cities{margin-top:10px;background:url(/images/blank.png) 3px 2px no-repeat}
.menu ul li.rubrics{margin-top:10px;background:url(/images/video.png) 2px 2px no-repeat}
.menu ul li.settings{margin-top:10px;background:url(/images/bookmark.png) 4px 2px no-repeat}
.menu ul li.search{margin-top:10px;background:url(/images/blank.png) 2px 2px no-repeat}
.menu ul li.messages{background:url(/images/archive.png) 0 3px no-repeat}
.menu ul li.news{margin-top:10px;background:url(/images/image.png) 0 2px no-repeat}
.menu ul li.contacts{background:url(/images/text.png) 2px 2px no-repeat}
.menu ul li.exit{margin-top:10px;background:url(/images/profile.png) 0 2px no-repeat}

label{display:inline-block;width:250px}
.row{padding:5px 0}
span.required{color:red}
form .errorSummary
{
	border: 2px solid #C00;
	padding: 7px 7px 12px 7px;
	margin: 0 0 20px 0;
	background: #FEE;
	font-size: 0.9em;
}

.errorMessage
{
	color: red;
	font-size: 0.9em;
}

.errorSummary p
{
	margin: 0;
	padding: 5px;
}

.errorSummary ul
{
	margin: 0;
	padding: 0 0 0 20px;
}

#config form select{
    float: right;
    margin-top: -20px;
    margin-right: 150px;
}
#config form label{
    width: 400px;
}

a.approved{

    color: #008000;
    font-weight: bold;
}
a.failure{
    color: #ff0000;
    font-weight: bold;
}
a.new{
    color: #000000;
    font-weight: bold;
}
a.draft{
    color: #000000;
    font-weight: bold;
}
a.executed{
    color: blue;
    font-weight: bold;

}
#new_msg{
    border: 1px solid #ff0000;
}
ul.services{
    list-style: none;
    color: red;    
    text-align: center; 
    margin-left: -2px;
}
ul label{
    font-size: 14px;
    padding-left: 5px;
}
    

.thead{
    text-align: center;
    margin: 0 auto;
}
#Credit_initial_deposit{
/*    float: right;*/
/*    border: 1px solid red;*/
/*    margin-right: 100px;*/
}

.link-type{
    border-bottom: dotted 1px;
}
.datepicker-days th{
    background: #b7d6e7;
}